body {
    display: grid;
    margin: 0;
    height: 100%;
    background-color: rgb(45, 160, 199);
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 50px auto 100px;
}
html {
    margin: 0;
    height: 100%;
}
.roomstyle {
    margin: auto;
    grid-column-start: 3;
    grid-row-start:1;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}
.users{
    margin: auto;
    grid-column-start: 1;
    grid-row-start:1;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}
.messageEnter {
    display: grid;
    padding: 5px;
    grid-template-columns: 80% auto;
    grid-template-rows: auto;
    grid-column-start:2;
    grid-row-start:3;
    background: whitesmoke;
    width: 60%;
    height: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    border-style: outset;
    outline-style: 5px outset;
    box-shadow: 5px 5px rgb(25, 131, 167);
}
.enter {
    width: 95%;
    height: 80%;
    margin: auto;
    border-style: inset;
    border-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;
    padding: 3px;

}
.send {
    background-color:  rgb(25, 131, 167);
    font-family: 'Courier New', Courier, monospace;
    margin: 4px;
    color: whitesmoke;
    height: 90%;
}

.one{
    grid-row-start: 1;
    grid-row-end:1;
    margin-top:10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
.two{
    grid-row-start: 2;
    grid-row-end:2;
    margin-top:10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
.three{
    grid-row-start: 3;
    grid-row-end:3;
    margin-top:10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
.four{
    grid-row-start: 4;
    grid-row-end:4;
    margin-top:10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
.five{
    grid-row-start: 5;
    grid-row-end:5;
    margin-top:10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
.six{
    grid-row-start: 6;
    grid-row-end:6;
    margin-top:10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}

.messageArea {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
    
    margin-left: auto;
    margin-right:auto;
    margin-top: auto;
    margin-bottom: auto;
    
    border-radius: 20px;
    background-color: whitesmoke;
    grid-column-start:2;
    grid-row-start:2;
    width: 60%;
    height: 80%;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    box-shadow: 5px 5px rgb(25, 131, 167);
}
